<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title></title>
    <meta name="Description" content="Украшения из проволоки хэнд-мейд.">
    <meta name="keywords" content="Украшения хэнд-мейд мастер-классы по работе с проволокой купить украшения хэнд-мейд уникальные украшения из проволоки">
    <meta name="Maria Babieva">
    <link type="text/css" href="media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="media/css/style.css" rel="stylesheet" />
    <script src="media/js/jquery-2.1.3.min.js"></script>
</head>
<body>

</body>
</html>